body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #7CA8FF;
    width: 70%;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    min-width: 20%;
    background: #6296E4;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 20%;
    min-height: 50%;
}

.header-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.3%;
    margin-left: 15%;
    margin-right: 15%;
    min-width: none;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 24pt;
    min-width: 20%;
    min-height: 100%;
}

.nav_link_find {
    display: inline-block;
    text-decoration: none;
    color: #6296E4;
    font-size: 24pt;
    background-color: #FFFFFF;
    border-radius: 51px;
    padding: 0 15px 0 15px;
}

.nav_link {
    display: inline-block;
    margin-left: 10%;
    text-decoration: none;
    color: white;
    font-size: 24pt;
    white-space: nowrap;
    max-height: 100%;
    min-width: auto;
    min-height: 100%;
}

.nav_link_p {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24pt;
    white-space: nowrap;
    max-height: 100%;
    min-width: auto;
    min-height: 100%;
}

.profileHref {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    margin-left: 10%;
}

.main {
    align-items: center;
    margin: 13% auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    margin: 0% 0% 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.createPost {
    font-size: 24px;
}

.post {
    text-align: center;
    margin: 0% auto 5% auto;
    width: 565px;
    background: #6296E4;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.findFriends {
    text-align: center;
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.title {
    text-align: center;
    color: #FFFFFF;
    font-size: 26px;
    padding: 3% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    background-color: #000000;
    width: 25px;
    height: 5px;
}

.topmenu > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.submenu {
    z-index: 4;
    width: 200px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    background: #5e91dd;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .2s;
    list-style-type: none;
}

.ali {
    text-decoration: none;
    color: #FFFFFF;
}

.titleNiz {
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.dateTime {
    text-align: left;
    padding-left: 1%;
    padding-bottom: 2%;
    font-size: 16px;
    color: #d6d6d6;
}

.dateTimePost {
    text-align: left;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    font-size: 16px;
    color: #d6d6d6;
    display: flex;
}

.titleD {
    text-align: left;
    color: #FFFFFF;
    font-size: 21px;
    padding: 1% 5% 1% 5%;
}

.hobby {
    text-align: left;
    color: #FFFFFF;
    font-size: 21px;
    padding: 1% 5% 2% 5%;
}

.textDescription {
    text-align: left;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0% auto 2% auto;
    padding: 1% 2% 1% 2%;
    background: #AAC4FF;
    border-radius: 10px;
    width: 86%;
}

.button {
    float: right;
    margin: 1% 5% 3% 0%;
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    font-size: 24px;
    width: 200px;
    cursor: pointer;
}

.buttonExit {
    margin: 5% auto 0% auto;
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    font-size: 24px;
    width: 125px;
    cursor: pointer;
    text-decoration: none;
}

.buttonEdit {
    margin: 5% auto 0% auto;
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    font-size: 24px;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
}

.bMenu {
    margin: 0% auto;
    display: flex;
    padding: 1% 5% 2% 5%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
}

.buttonMenu {
    float: right;
    margin: 1% 0% 3% 0%;
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    text-decoration: none;
    font-size: 24px;
    width: 180px;
    cursor: pointer;
}

.buttonRight {
    margin: 0% auto 30px auto;
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    font-size: 24px;
    width: 250px;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
}

.commentSection {
    padding-bottom: 3%;
}

.comment {
    width: 90%;
    margin: 2% auto;
    padding: 1% 1% 1% 1%;
    text-align: left;
    background: #AAC4FF;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textComment {
    color: #FFFFFF;
    font-size: 18px;
    padding: 1% 2% 1% 2%;
    width: 362px;
}

.timeComment {
    float: right;
    color: #FFFFFF;
    font-size: 18px;
    padding: 1% 2% 1% 0%;
}

.userComment {
    text-align: left;
    color: #FFFFFF;
    font-size: 18px;
    padding: 1% 0% 1% 2%;
}

.contentF {
    justify-content: space-between;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.aboutF {
    float: right;
}

.footerA {
    text-decoration: none;
    color: #FFFFFF;
}

.profileMainWindow {
    margin: 0 auto;
    height: 420px;
    width: 35%;
    background: #6296E4;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.styleWindow {
    color: #FFFFFF;
    font-size: 21px;
    padding: 8% 8% 0% 8%;
}

.styleOtherWindow {
    color: #FFFFFF;
    font-size: 21px;
    padding: 3% 3% 0% 3%;
}

.profileImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.rightInf {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
}

.friendInf1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
}

.friendImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.friendInf {
    color: #FFFFFF;
    font-size: 19px;
    display: flex;
    height: auto;
    padding: 2% 4% 0% 4%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: auto;
}

.content2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 3% 3% 3% 3%;
    width: auto;
    background: #6296E4;
    box-shadow: 0px 12px 15px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.friendHref {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.friendships {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 78%;
    margin: 0 auto 0 auto;
}

.buttonFriendships {
    float: right;
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    text-decoration: none;
    font-size: 18px;
    padding: 0 5px;
    margin-right: 5px;
    cursor: pointer;
}

.navImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0% 5%;
}

.styleImg {
    display: block;
    margin: auto;
}

.profileText {
    text-align: left;
}

.ProfilePost {
    text-align: left;
    padding-left: 1%;
    font-size: 16px;
    color: #d6d6d6;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
}

.profileInf {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5%;

    margin-bottom: 5%;
}

.profileOtherWindow {
    margin: 0 0 0 3%;
    height: auto;
    width: 100%;
    background: #6296E4;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.Text {
    text-align: left;
    padding: 0% 0% 3% 0%;
}

.input {
    background: #8aaaf3;
    border-radius: 10px;
    color: white;
    min-height: 24px;
    height: auto;
    padding: 5px 10px;
    word-break: break-word;
}

.content {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 0 0 1%;
    width: 280px;
    background: #6296E4;
    box-shadow: 0px 12px 15px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.input1 {
    background: #8aaaf3;
    border-radius: 10px;
    color: white;
    min-height: 20px;
    height: auto;
    padding: 5px 10px;
    word-break: break-word;
}

.content1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto 2% auto;
    width: 78%;
    background: #6296E4;
    box-shadow: 0px 12px 15px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.mainInf {
    color: #FFFFFF;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: normal;
    height: auto;
    padding: 2% 4% 0% 4%;
}

.commentSection {
    padding-bottom: 3%;
}

.comment {
    width: 90%;
    margin: 2% auto;
    padding: 1% 1% 1% 1%;


    text-align: left;

    background: #AAC4FF;
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.textComment {
    color: #FFFFFF;
    font-size: 18px;
    padding: 1% 2% 1% 2%;
    width: 362px;
}

.deleteComment {
    float: right;
    color: #FFFFFF;
    font-size: 14px;
    padding: 1% 2% 1% 0%;
}

.userComment {
    text-align: left;
    color: #FFFFFF;
    font-size: 18px;
    padding: 1% 0% 1% 2%;
}

.buttonComment {
    border-radius: 51px;
    border: 2px solid white;
    background: white;
    color: #6296E4;
    margin: 0% 0% 2% 0%;
    font-size: 14px;
    cursor: pointer;
}

.newComment {
    width: 90%;
    color: #4876bb;
    margin: 0 auto;
}

.formComment {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.inputNewComment {
    background: #5389DA;
    border-radius: 10px;
    border: 2px solid #4876bb;
    font-size: 14px;
    color: white;
    width: 96%;
    height: auto;
    padding: 1% 2% 1% 2%;
    margin: 0% 2% 2% 0%;
    word-break: break-word;
}
::-webkit-input-placeholder {
    color: #c4c4c4;
}